.question__container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  align-self: flex-start;

  min-height: 75vh;
}

.question__box {
  width: 100%;
}

.question__line {
  flex-direction: column;
  align-items: flex-start;

  margin-block: 1rem 1.5rem;
}

.question__header {
  align-self: flex-start;

  font-size: 20px;
  color: #293264;

  line-height: 23px;
  margin-bottom: 0.75rem;

  @media screen and (max-width: 996px) {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 1rem;
  }
}

.question__answers {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;

  margin-left: 0.25rem;

  @media screen and (max-width: 996px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}

.answer__container {
  font-size: 14px;
  min-width: 80px;
  min-height: 32px;

  border: 0.75px solid #4d5b9e;
  border-radius: 8px;
  padding: 2px 10px;

  cursor: pointer;

  &:hover {
    background-color: #a2d5fb;
    color: white;
    border: 0.794239px solid #4d5b9e70;
  }

  @media screen and (max-width: 996px) {
    width: 90%;
    padding: 0;

    min-height: 36px;
  }
}

.h-line {
  width: 90%;
  border: 0.794239px solid #dbdef0;
  margin-block: 0.75em;
}

.result__container {
  justify-content: flex-end;
  align-items: center;

  column-gap: 2rem;
  width: 90%;

  margin-top: 0.5rem;

  button {
    margin: 0 !important;
  }

  @media screen and (max-width: 996px) {
    column-gap: 0.5rem;
    width: 100%;

    margin-block: 0.75rem;

    button {
      min-width: 120px;
      font-size: 14px;

      padding: 0.5rem;
    }
  }
}

.result__text {
  font-weight: 500;
}
